# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Generate a table of popular Data Science Tools
* Execute mathematical arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
3. Plotly
4. Lattice
5. Leaflet

| Data Science Tools |
| ------------------ |
| MySQL |
| Apache CouchDB |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author
Kinnsey Cipriano